/* Media: when screen size is small (tiny phone or watch) */
/* Ensures text stays within the box width */

@media screen and (max-width: 600px) {
  /* Reset base styles to rely on CSS variables for colors */
  body {
    font-size: 10px;
    padding: 5px;
    text-align: center;
  }

  div {
    display: flex;
    flex-direction: column;
  }

  /* Hide sparkle toggle and any related visual when screen is small */
  .switch-container,
  .slider,
  #sparkleToggle,
  .special-button,label[for="sparkleToggle"]  {
    display: none;
  }

  /* ==================== */
  /* About-cayleigh-html  */
  /* ==================== */
  
  /* To do: On click, generate sparkles if sparkles are set "on" (JS handles this) */
}
